.cart-container {
  margin-left: auto;
  cursor: pointer;
  .cart-count {
    width: 10px;
    height: 18px;
    margin-left: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1px);
    transform: translateY(40%);
  }
}
